@use 'variables';


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {

    min-height: 100dvh;
    font-family: variables.$font-primary;
    background-color: variables.$cream;

    display: grid;
    place-items: center;
}