@use 'variables';


.product {
    background-color: variables.$white;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.product__image {
    width: 100%;
    display: block;
}

.product__category {
    color: variables.$grey;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: .7rem;

    
}

.product__title {
    font-family: variables.$font-secondary;
    font-size: 2rem;
    margin-top: 20px;
    line-height: 1;
}

.product__content {
    padding: 30px;
}

.product__description {
    color: variables.$grey;
    font-size: .89rem;
    margin: 20px 0;
    line-height: 1.5;
}

.product__prices {
    display: flex;
    align-items: center;
}

.product__price {
    font-family: variables.$font-secondary;
    color: variables.$green-500;
    font-size: 2rem;
}

.product__price-old {
    color: variables.$grey;
    font-size: .85rem;
    margin-left: 18px;
}

.product__button {
    width: 100%;
    padding: 18px;
    background-color: variables.$green-500;
    color: variables.$white;
    margin-top: 20px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.button__icon {
    margin-right: 10px;
}
